/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('../fonts/Ubuntu-Bold.woff') format('woff'),
      url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
      url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.eot');
  src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans-Bold.woff2') format('woff2'),
      url('../fonts/PTSans-Bold.woff') format('woff'),
      url('../fonts/PTSans-Bold.ttf') format('truetype'),
      url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.eot');
  src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans-Regular.woff2') format('woff2'),
      url('../fonts/PTSans-Regular.woff') format('woff'),
      url('../fonts/PTSans-Regular.ttf') format('truetype'),
      url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Entypo';
  src: url('../fonts/Entypo.eot');
  src: url('../fonts/Entypo.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Entypo.woff2') format('woff2'),
      url('../fonts/Entypo.woff') format('woff'),
      url('../fonts/Entypo.ttf') format('truetype'),
      url('../fonts/Entypo.svg#Entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Global style pages */
html {
font-size: 10px;
}

/* Calors */
@title-color:#40474e;
@btn-color:#50c3af;
@bg-light:#f5f5f5;
@bg-gray:#eeeeef;
@bg-green:#50c3af;
@text-color:#787b80;
@light:#ffffff;

/* Button */

/* Typogrephy */
.PT-Sans () {
 font-family: 'PT Sans';
}
.Ubuntu () {
  font-family: 'Ubuntu';
}
.bold () {
  font-weight: bold;
}
.normal () {
  font-weight: normal;
}
.Entypo () {
  font-family: 'Entypo';
}


/* Object */
.section {
  padding: 6rem 0 7rem 0;
}
button {
  padding: 2rem 6rem;
  text-transform: uppercase;
  color:@light;
  font-size: 1.5rem;
  .Ubuntu;
  border: none;
  outline: none;
  background: @btn-color;
  border-radius: 50px;
 }

 * {
   box-sizing: border-box;
   outline: none !important;
 }

 .title {
   h1 {
    text-transform: uppercase;
    color: @title-color;
    font-size: 2rem;
    .Ubuntu;
   }
 }
 p {
   .Ubuntu;
   color: @text-color;
   font-size: 1.5rem;
   line-height: 2em;
 }

/* Main styles */

.header {
 background: url(../img/bg/header-bg.png) center no-repeat;
 background-size: cover;
 &-logo {
   margin: 6rem auto;
 }
 &-menu {
  margin-bottom: 7rem;
  text-align: center;
   ul {
     list-style: none;
     margin:0; 
     padding-left: 0;
     li {
       display: inline-block;
       margin-right: 2.5rem;
       a {
         font-family: 'PT Sans';
         font-weight: bold;
         text-transform: uppercase;
         text-decoration: none;
         color: @light;
         font-size: 1.2rem;
       }
     }
   }
 }
 &-title {
   width: 100%;
   text-align: center;
   color:@light;
   text-transform: uppercase;
   font-weight: bold;
   .Ubuntu;
   .bold;
  h1 {
   font-size: 4rem;
  }
 }
  &-text {
   margin-top: 4rem;
   margin-bottom: 8rem;
   font-size: 1.4rem;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
   &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 32%;
    left:63%;
    width: 15rem;
    height: 0.4rem;
    background: #50c3af;
    opacity: 0.3;
    }
    &::before {
     content: ' ';
     display: block;
     position: absolute;
     top: 32%;
     left:24%;
     width: 15rem;
     height: 0.4rem;
     background: #50c3af;
     opacity: 0.3;
    }
  p {
    color:@light;
   }
  }
 &-button {
   width: 100%;
   text-align: center;
   margin-bottom: 11rem;
   button {
    transition: 0.5s;
     &:hover {
       background: darken(@btn-color, 15%);
      // background: #40474e;
     }
   }
 }
}

/* Advantages */
.advantages {
  background: @bg-gray;
  text-align: center;
  
  &-box {
    &-img {
      height: 4rem;
    }
    &-title {
      margin-top: 3rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid #e8e8e9;
    }
    &-text {
      margin-top: 3rem;
    }
  }
}

/* Possibility */
.possibility {
  background: @bg-light;
  &-box {
    &-img {
      img {
        opacity: 0.7;
      }
    }
    &-signature{
      &-title {
        margin-bottom: 4rem;
        padding: 4rem 0 3rem 0;
        border-bottom: 2px solid #e8e8e9;
      }
      &-text {
        padding-bottom: 3rem; 
      }
      &-button {
        button {
          padding: 1rem 2rem;
          text-transform: unset;
          border-radius: 40px;
          transition: 0.5s;
          &:hover {
            background: darken(@btn-color, 15%);
          }
        }
      }
    }
  }
}

/* Suppored */
.suppored {
  background: @bg-gray;
  &-title {
    position: relative;
    padding: 0 0 2.5rem 4rem;
    width: 70%;
    border-bottom: 2px solid #e8e8e9;
    &::before {
      content: ' ';
      position: absolute;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      top: 0.2rem;
      left: 0rem;
      background: url(../img/sup-icon.png) no-repeat center;
    }
  }
  &-text {
    margin: 3rem 0 4rem 0;
  }
  &-button {
    button {
      padding: 1rem 1.8rem;
      background: #d2d5da;
      text-transform: unset;
      transition: 0.5s;
      &:hover {
        background: @btn-color;
      }
    }
  }
}

/* Portfolio */
.portfolio {
  margin-top: 4rem;
  &-box {
    &-title {
      margin-top: 5rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid #e8e8e9;
    }
    &-text {
      margin: 3rem 0 3rem 0;
    }
    &-link {
      a {
        .Ubuntu;
        text-decoration: none;
        font-size: 1.5rem;
        color:@btn-color;
        transition: 0.5s;
          &:hover {
            color: #4b8e6e;
          }
      }
    }
  }
}

/* Feedback */
.feedback {
  padding-top: 8rem;
  background: @bg-gray;
  &-box {
    &-title {
      position: relative;
      padding: 0 0 2.5rem 4rem;
      width: 70%;
      border-bottom: 2px solid #e8e8e9;
      h1 {
        font-size: 2.8rem;
      }
    }
    .left-title{
      &::before {
        content: ' ';
        position: absolute;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        top: 0.6rem;
        left: 0rem;
        background: url(../img/feedback/fb-1.png) no-repeat center;
      }
    }
    .rigth-title{
      &::before {
        content: ' ';
        position: absolute;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        top: 0.6rem;
        left: 0rem;
        background: url(../img/feedback/fb-2.png) no-repeat center;
      }
    }
    &-text {
      margin: 3rem 0 3rem 0;
    }
    &-button {
      margin-top: 5rem;
      button {
        padding: 1rem 2rem;
        text-transform: unset;
        border-radius: 40px;
        transition: 0.5s;
          &:hover {
            background: darken(@btn-color, 15%);
          }
      }
    }
  }
}

.themeforest {
  &-box {
    &-title {
      padding-bottom: 2.5rem;
      width: 70%;
      border-bottom: 2px solid #e8e8e9;
      h1 {
        font-size: 2.2rem;
      }
    }
    &-text {
      margin: 3rem 0 3rem 0;
    }
    &-button {
      margin-top: 5rem;
      button {
        padding: 1.5rem 3rem;
        background: #d2d5da;
        text-transform: unset;
        transition: 0.5s;
        &:hover {
          background: @btn-color;
        }
      }
    }
  }
}

/* Footer */
.footer {
  background: @bg-green;
  &-title {
    margin: 5rem 0 9rem 0;
    width: 100%;
    text-align: center;
    &::before {
      content: ' ';
      position: absolute;
      display: block;
      width: 3rem;
      height: 3rem;
      left: 36%;
      background: url(../img/footer/title-icon.png) no-repeat center;
      background-size: cover;
    }
    h1 {
      color:@light;
      .PT-Sans;
      font-weight: bold;
      font-size: 2.5rem;
    }
  }
  &-img {
    margin-bottom: 10rem;
  }
  &-copyright {
    padding: 2rem 0 1.5rem 0;
    background: @light;
    span {
      .bold;
    }
    &-social {
      float: right;
      a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 0.2rem;
      }
      .google {
        background: url(../img/footer/social/s-icon-google.png) no-repeat center;
      }
      .twitter {
        background: url(../img/footer/social/s-icon-twitter.png) no-repeat center;
      }
      .facebook {
        background: url(../img/footer/social/s-icon-facebook.png) no-repeat center;
      }
    }
  }
}

/* Адаптация */
@media (max-width: 1650px) {
  .footer {
    &-title {
      &::before {
        left: 35%;
      }
    }
  }
}
@media (max-width: 1550px) {
  .footer {
    &-title {
      &::before {
        left: 33%;
      }
    }
  }
}
@media (max-width: 1350px) {
  .footer {
    &-title {
      &::before {
        left: 31%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .header-text {
    &::after {
      left:65%;
      width: 10rem;
    }
    &::before {
      left:25%;
      width: 10rem;
    }
  }
  .footer {
    &-title {
      &::before {
        display: none;
      }
    }
  }
}
@media (max-width: 991px) {
  .header-text {
    &::after {
      left:67%;
      width: 5rem;
    }
    &::before {
      left:26%;
      width: 5rem;
    }
  }
  .possibility {
    margin-top: 0rem;
    &-box {
      &-img {
        margin-top: 4rem;
        text-align: center;
      }
      &-signature {
        text-align: center;
      }
    }
  }
  .suppored {
    text-align: center;
    &-title {
      padding: 0;
      width: 100%;
      text-align: center;
      &::before {
        left: 24%;
      }
    }
    &-button {
      width: 100%;
      text-align: center;
    }
  }
  .portfolio {
    &-box {
      margin-bottom: 4rem;
      text-align: center;
    }
    &-box:nth-child(3) {
      margin-bottom: 0;
    }
  }
  .feedback {
    &-box {
      text-align: center;
      margin-bottom: 2rem;
      &-title {
        padding: 0;
        width: 100%;
        
      }
      .left-title::before {
        left: 25%;
      }
      .rigth-title::before {
        left: 25%;
      }
      &-text {
        margin-top: 2rem;
      }
    }
  }
  .themeforest {
    &-box {
      &-title {
        padding-top: 3rem;
      }
    }
  }
  .footer-copyright {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header-text {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  .suppored {
    &-title {
      &::before {
        left: 15%;
      }
    }
  }
  .feedback {
    &-box {
      .left-title::before {
        left: 15%;
      }
      .rigth-title::before {
        left: 15%;
      }
    }
  }
  .themeforest {
    &-box {
      text-align: center;
      &-title {
        width: 100%;
        padding: 3rem 0 1rem 0;
      }
    }
  }
  .footer-img {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .suppored {
    &-text {
      padding: 0 2rem 0 2rem;
    }
  }
}

@media (max-width: 500px) {
  .suppored {
    &-title {
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .header-button {
    button {
      padding: 1rem 3rem;
      font-size: 1.2rem;
    }
  }
  .feedback {
    &-box {
      .left-title::before {
        left: 10%;
      }
      .rigth-title::before {
        left: 8%;
      }
    }
  }
}
@media (max-width: 396px) {
  .header-title {
    h1 {
      font-size: 3rem;
    }
  }
  .feedback {
    &-box {
      .left-title::before {
        display: none;
      }
      .rigth-title::before {
        display: none;
      }
    }
  }
  .footer-title {
    padding: 0 2rem 0 2rem;
  }
}